.emoji-picker {
  position: relative;
  display: flex;
}

.emoji-field > label {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.picker-wrapper {
  position: absolute;
  z-index: 100;
}

.emoji-button-wrapper {
  display: flex;
  margin: auto;
  flex-direction: column;
  margin-right: 1rem;
}

.emoji-button {
  border: none;
  background: 0;
  align-self: center;
  padding: 0;
  margin-bottom: .2rem;
  transition: background .2s linear;
  cursor: pointer;
}

.emoji-button-native {
  position: relative;
  font-size: 2rem;
  border-radius: 50%;
  height: 3.2rem;
  width: 3.2rem;
}

.emoji-button-native:hover {
  background: rgba(153, 153, 153, .1);
}

.emoji {
  font-weight: bold;
}

.emoji-button-native .emoji {
  display: block;
  margin-top: .4rem;
}
