@import 'part:@sanity/base/theme/variables-style';

.emojiWrapper {
  display: flex;
}

.fieldsWrapper {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.field {
  margin: 0 var(--medium-padding)  var(--medium-padding);
}

.urlField {
  order: 10;
  flex-basis: 100%;
  @nest & .value {
    word-break: break-all;
  }
}

.label {
  font-size: 0.8rem;
  opacity: 0.6;
}

.pickerWrapper {
  position: absolute;
  top: -1rem;
  left: 5rem;
  z-index: var(--zindex-drawer);
}

.emojiButtonWrapper {
  flex-shrink: 0;
  margin-right: var(--medium-padding);
  grid-row: span 3;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0.25rem;
}

.emojiButtonNative {
  position: relative;
  font-size: 2rem;
  border-radius: 0.5rem;
  padding: 0.3em 0.5em;
  border: none;
  background: 0;
  align-self: center;
  margin-bottom: .2rem;
  transition: background .2s linear;
  cursor: pointer;
  border: var(--input-border-size) solid var(--input-border-color);
}

.emojiButtonNative:hover {
  background: rgba(153, 153, 153, .05);
}

.selectText {
  max-height: 2rem;
  max-width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  display: flex;
  font-size: 0.7rem;
  text-align: center;
  align-items: center;
  opacity: 0.6;
}

.emoji {
  max-height: 2rem;
  max-width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  display: flex;
  overflow: hidden;

  @nest & img {
    width: 100%;
  }
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.unsetButton {
  background: 0;
  border: none;
  color: var(--state-danger-color);
  font-size: 0.7rem;
  margin-right: auto;
  padding: 0;
  margin-top: var(--small-padding);
}